#topbar {
    background-color: white;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 100%;
    margin: 0px;
}

    .sections {
        display: flex;
        padding: 5px;
    }

    #topbar a {
        display: block;
        float: right;
        text-align: center;
        padding: 8px 10px;
        text-decoration: none;
        font-size: 17px;
    }
    
    #topbar a:hover {
        background-color: #555;
        color: black;
    }

    #topbar a.active {
        background-color: #f1f1f1;
        color: black; /* text color */
    }