.Contacts {
    padding: 80px;
    text-align: center;
}

h3 { /* Create centered text with horizontal lines */
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
 } 

    h3 span { 
        background:#fff; 
        padding:0 10px; 
    }

    ul.contact {
        list-style: none;
        padding: 0;
    }
        ul.contact > li {
            padding: 10px 20px 10px 20px;
            display: inline-block;
        }
