html {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: 0px;
}

body {
    font: 18px Trebuchet, Tahoma, sans-serif;
    overflow-y: scroll;
    padding: 0px;
    margin: 0px;
    width: 100%;
    overflow-x: 0px;
}

#Welcome {
    background-image: url('./pink\ and\ blue\ sakura.png');
    background-size: cover;
    width: 100%;
    margin: 0px;
}

.content {
    padding: 5px;
    overflow: auto; /* clearfix if overflow breaks */
    clear: both;
    vertical-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner {
    position: relative;
    width: 60% ;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.inner::before {
    content: "";
    background-color: white;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
}

#profile {
    float: left;
    margin: 20px 20px;
}

#two {
    padding: 80px;
    background: #d5d5f1;
    margin: 0px;
}

#about {
    padding: 50px;
    background: #6161a3;
}
    .content2 {
        display: flex;
        gap: 20px;
    }

    .Academic {
        position: relative;
        width: 60% ;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
    }

    .Academic::before {
        content: "";
        background-color: white;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.5;
    }

    .Curiosities {
        position: relative;
        width: 60% ;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
    }

    .Curiosities::before {
        content: "";
        background-color: white;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.5;
    }

    .Hobbies {
        position: relative;
        width: 60% ;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
    }

    .Hobbies::before {
        content: "";
        background-color: white;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.5;
    }

.Research {
    padding: 80px;
}

.Contacts {
    padding: 80px;
    background: #d5d5f1;
}

    ul.contact {
        list-style: none;
        padding: 0;
    }
        ul.contact > li {
            padding: 0;
        }

#topbar {
    background-color: #bbd3fb;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
    margin: 0px;
}

    .sections {
        display: flex;
        padding: 5px;
    }

    #topbar a {
        display: block;
        float: right;
        text-align: center;
        padding: 8px 10px;
        text-decoration: none;
        font-size: 17px;
    }
    
    #topbar a:hover {
        background-color: #555;
        color: black;
    }

    #topbar a.active {
        background-color: #f1f1f1;
        color: black; /* text color */
    }

h1, h2, h3, h4, h5, h6, p {
    position: relative;
}

 /* For removed sidebar */
ul.s {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    overflow: auto; /* Give sidebar independent scrolling if too many options */
  } 

  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  li a:hover { /* Change the link color on hover */
    background-color: #555;
    color: white;
  } 

/* Links
- https://www.w3schools.com/howto/howto_make_a_website.asp
- https://www.w3schools.com/tags/tag_link.asp
- https://www.w3schools.com/css/css_howto.asp
- references: https://medium.com/makers-byte/the-25-best-personal-portfolio-website-design-inspiration-examples-e2eb1c8734df
*/ 