/* General */ 
html {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: 0px;
    box-sizing: border-box;
}

body {
    font: 18px Trebuchet, Tahoma, sans-serif;
    overflow-y: scroll;
    padding: 0px;
    margin: 0px;
    width: 100%;
    overflow-x: 0px;
}

/* Global Variables */
$highlightColor: #8fc7e0; /* Light blue */

/* Mixins, Functions, and Utility */
.circular--square { 
    border-radius: 50%;
    height: 70%;
    width: height;
}

@mixin clearfix() {
    &::after {
        display: block;
        clear: both;
        content: "";
    }
}

h1, h2, h3, h4, h5, h6, p {
    position: relative;
    color: inherit;
}

h1 {
    font-size: 75px;
    margin-bottom: 0px;
}

h2 {
    font-size: 50px;
    margin: 0px;
}

h4 {
    font-size: 25px;
}

p {
    font-size: 25px;
}

@import 'topNav';
@import 'welcomeBanner';
@import 'aboutAndProjects';
@import 'research';
@import 'contacts';

/* Links
- https://www.w3schools.com/howto/howto_make_a_website.asp
- https://www.w3schools.com/tags/tag_link.asp
- https://www.w3schools.com/css/css_howto.asp
*/ 