.imgBkgd {
    background: linear-gradient(63.18deg, rgba(150, 161, 165, 0.6) 0%, rgba(141, 109, 232, 0.65) 79.56%), url(/assets/background.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center 0;
    background-attachment: fixed;
    min-height: 67.5rem;
}