//Colors 
$gray: #3E3E3E;
$white: #FFFFFF;
$purple:  #8D6DE8;
$lightGray: #96A1A5;

//Font sizes
$font-xl: 5.625rem; //90px
$font-l: 3.125rem; //50px, also general padding
$font-m: 2.1875rem; //35px
$font-s: 1.5625rem; //25px
$font-xs: 0.9375rem; //15px
$font-xxs: 0.625rem; //10px